@{
    ViewBag.Title = "Reversi game";
}


<table class="board" style="border-collapse:collapse">
    @{
        for ( int i = 0; i < 8; i++ )
        {
            <tr>
                @for ( int j = 0; j < 8; j++ )
                {
                    <td>
                        @using ( Html.BeginForm( "Index", "Game", FormMethod.Get ) )
                        {
                            <input type="submit" value="" class="@Model[ i, j ]" />
                            <input type="hidden" name="field" value="@i@j" />
                        }
                    </td>
                }
            </tr>
        }
    }
</table>
