@{
    ViewBag.Title = "Reversi - Menu";
}

<div style="margin-top: 200px; margin: auto">
    @using ( Html.BeginForm( "Setup", "Game", FormMethod.Post ) )
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Nowa gra" />
        
        @Html.TextBox( "param" )
    }

    @if ( Model == true )
    {
        using ( Html.BeginForm( "Setup", "Game", FormMethod.Post ) )
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Wznów grę" />
        }
    }
</div>
