table {
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
}

.result {
    width: 660px;
    margin: auto;
    border: none;
}

.result input {
    font-size: 30px;
    font-family: 'Comic Sans MS';
    border: none;
}

#black {
    width: 160px;
    float: right;
    text-align: right;
}

#message {
    width: 315px;
    text-align: center;
}

#white {
    width: 160px;
}

.board {
    width: 678px;
    height: 678px;
    border: 10px solid #333;
    margin: auto;
    margin-top: 60px;
    background: green;
}

.board input {
    width: 80px;
    height: 80px;
    border: 0px solid #333;
    border-radius: 50%;
    align-self: center;
}

.board input:hover {

}

.board .Empty {
    background: green;
}

.board .White {
    background: white;
}

.board .Black {
    background: black;
}