body {
    background: white;
}

table{
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid black;
}

.board {
    width: 678px;
    height: 678px;
    border: 10px solid #333;
    margin: auto;
    margin-top: 60px;
    background: green;
}

input {
    width: 80px;
    height: 80px;
    border: 0px solid #333;
    border-radius: 50%;
    align-self: center;
}

input:hover{

}

.Empty{
    background: green;
}

.White{
    background: white;
}

.Black{
    background: black;
}